  /* Styles for larger screens */
  .form-control {
    border-radius: 3px;
    width: 100%; /* Allows the input to take full width */
    margin-left: 20px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .form-control {
        width: 100%; /* Adjust input width */
    }

    .navbar-brand strong {
        font-size: 25px;
    }

    .fas.fa-shipping-fast {
        font-size: 35px;
    }

    .badge {
        font-size: 9px;
    }

    button.btn {
        padding: 8px 12px;
    }
}

@media (max-width: 576px) {
    .form-control {
        width: 100%; /* Takes up full width on mobile */
    }

    .navbar-brand strong {
        font-size: 20px;
    }

    .fas.fa-shipping-fast {
        font-size: 30px;
    }

    .badge {
        font-size: 8px;
    }

    button.btn {
        padding: 6px 10px;
    }
}