<header>
    <div class="navbar navbar-dark bg-primary shadow-sm container-fluid">
        <div class="navbar-brand d-flex align-items-center">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i>
            <strong style="font-size: 30px;">Flipkart</strong>
        </div>
        <div class="d-flex align-items-center flex-grow-1">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search products">
        </div>
        <button routerLink="cart" class="btn btn-primary position-relative">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">{{totalItem}}</span>
        </button>
    </div>
</header>